@model DocumentFlow.Models.RegisterModel
@{
    ViewBag.Title = "DocumentFlow_Register";
    Layout = null;
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <title>Регистрация</title>
</head>
<body class="reg-html">
    <div class="reg-wrapper">
        <div class="reg-header"><h1>Регистрация</h1></div>
        <div class="reg-form">
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                {
                    @Html.ValidationSummary(false)
                    {
                        <span>Логин:</span>@Html.EditorFor(model => model.Login)
                        <br>

                        <span>Имя:</span>@Html.EditorFor(model => model.FirstName)
                        <br>

                        <span>Фамилия:</span> @Html.EditorFor(model => model.LastName)
                        <br>

                        <span>Отчество:</span>@Html.EditorFor(model => model.Patronymic)
                        <br>

                        <span>Почта:</span>@Html.EditorFor(model => model.Email)
                        <br>

                        <span>Должность:</span>
                        @Html.DropDownListFor(model => model.Position, new[]
                {
                    new SelectListItem(){Text = "Директор", Value = "1"},
                    new SelectListItem(){Text = "Рабочий", Value = "2"}
                });
                <br>

                <span>Пароль:</span>@Html.EditorFor(model => model.Password)
                <br>

                <span>Подтвердить пароль:</span>@Html.EditorFor(model => model.PasswordConfirm)
                <br>
                    }
                }

                <input type="submit" class="button" value="Зарегистрироваться" />
            }
        </div>
        </div>
</body>
