<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="~/Content/styles.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet" type="text/css">
    <title>Главная</title>
</head>
<body>
<div class="wrapper">
    <div class="left-sidebar">
        <ul class="menu">
            <li class="menu-item">
                <h1>@DocumentFlow.Controllers.AccountController.FullName</h1>
                <ul class="submenu">
                    <li class="submenu-item">@Html.ActionLink("Редактировать", "")</li>
                    <li class="submenu-item">@Html.ActionLink("Удалить", "Delete", "Account")</li>
                    <li class="submenu-item">@Html.ActionLink("Выйти", "")</li>
                </ul>
            </li>
        </ul>
        <nav>
            @Html.ActionLink("Входящие", "")
            @Html.ActionLink("Исходящие", "")
            @Html.ActionLink("Заполнить", "")
        </nav>
    </div>
    <div class="main-block">
        <div class="header">
        </div>
    </div>
</div>
@RenderBody()
</body>
</html>